<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Manager</title>

  <!-- TODO(tothricsaj): organize the css -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navStyle.css">
  <link rel="stylesheet" href="/css/books.css">
  <link rel="stylesheet" href="/css/form.css">