<header>
  <nav class="navWrapper">
    <a href="/"><h2>Home</h2></a>
    <ul>
      <li>
        <a href="/favorites">Favorites</a>
      </li>
      <li>
        <a href="/add-book">Add new</a>
      </li>
      <li>
        <div class="user-btn">
          <%= user %>
        </div>
      </li>
    </ul>
  </nav>
</header>