<%- include('./includes/head.ejs') %>

</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <div class="content-wrapper">
    <% if(favorites.length > 0) { %>
      <ul>
        <% for(let fav of favorites) {%>
          <li><%= fav.author %> - <%= fav.title %></li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>No favorite books</h2>
    <% } %>
  </div>
</body>