.book-wrapper {
  width: 250px;
  margin: 10px 15px;
  box-shadow: 2px 2px 5px lightgray;
}

.book-wrapper .book-wrapper__cover {
  width: 80%;
  margin: 0 auto;
}

.book-wrapper .book-wrapper__title,
.book-wrapper .book-wrapper__author {
  width: calc(100% - 10px);
  padding: 0 5px;
  text-align: center;
}

.book-wrapper .book-wrapper__title {

}

.book-wrapper .book-wrapper__author {

}