header {
  width: 100%;
  height: 60px;
  background-color: var(--rich-black);
}

header h2 {
  width: 20%;
  height: 100%;
  float: left;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  color: var(--tea-green);
}

.navWrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.navWrapper ul {
  width: 30%;
  height: 100%;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.navWrapper ul li {
  width: 30%;
  height: 100%;
  margin: 0 15px;
  padding: 5px;
}

.navWrapper ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--tea-green);
}

.navWrapper ul li a:hover {
  background-color: var(--tea-green);
  color: var(--rich-black);
}

.navWrapper ul li .user-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tea-green);
  color: var(--rich-black);
}